# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
_client/node_modules
_server/node_modules
_client/.pnp
_client.pnp.js

# testing
_client/coverage

# production
_client/build

# misc
_client/.DS_Store
_client/.env.local
_client/.env.development.local
_client/.env.test.local
_client/.env.production.local

npm-debug.log*
_client/yarn-debug.log*
_client/yarn-error.log*
