.footer{
    background-image: url(../../../assets/images/footer.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.fade{
    background-color: var(--fade);
}
.footer-container{
    display: flex;
}
.footer-container a{
    color: var(--white);
    line-height: 60px;
    font-size: 14pt;
    margin-left: 1rem;
}
.footer-logo{
    font-size: 26pt;
    display: flex;
    margin: 1rem 0 2rem 0;
    justify-content: center;
}
.footer-logo p{
    font-family: var(--h1-h2-h3-font-family);
}
.contact,
.map{
    height: 100%;
}
.contact{
    width: 50%;
    text-align: center;
}
.map{
    width: 50%;
}
.map iframe{
    width: 100%;
    min-height: 100%;
}
.developer{
    display: flex;
    min-height: 60px;
    text-align: center;
    line-height: 30px;
}
.developer p{
    margin: auto auto;
}
.developer-name a{
    color: var(--black);
}
@media screen and (max-width: 1024px){
    .footer-container{
        width: 100%;
        min-height: 90vh;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .contact,
    .map{
        width: 100%;
    }
    .map iframe{
        height: 60vh;
    }
}